{% load socialaccount %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<style>

body {
        background-color: #F8F9FA;
        font-family: 'Montserrat', sans-serif;
    }

    .navbar {
        background-color: #232D4B;
        border-radius: 0px;
        width:100%;
    }

    .navbar-brand {
        color: white;
        font-weight: bold;
    }

    .navbar-text {
        color: white;
        font-size: 14px;
    }

    .dropdown-menu {
        border-radius: 0px;
    }

    .dropdown-item {
        font-size: 14px;
    }

.btn-ora {
  background-color: #F84C1E;
  border-color: #F84C1E;
  color: white;
}

h1, h2 {
  color: #232D4B;
}

.navbar-text {
  color: white;
}

input[type="text"] {
    width: 100%;
}

body {
  background-image: url('https://img.freepik.com/free-photo/white-simple-textured-design-background_53876-102423.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

</style>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UVA CLAS Transfer Site</title>
</head>


<div class="d-flex flex-column mx-auto">
    {% if user.is_authenticated %}
      <div class="d-xxl-flex">
        <nav class="navbar navbar-expand navbar-dark" style="background-color: #232D4B">
          <a class="navbar-brand" href="/home/">
            <img src="https://dynaimage.cdn.cnn.com/cnn/c_fill,g_auto,w_1200,h_675,ar_16:9/https%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F200617130257-01-uva-reworked-logo-0616.jpg" width="50" height="30" class="d-inline-block align-top" alt="">
            Transfer Tracker
          </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ user.username }}
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="/logout/">Logout</a></li>
                    {% if user.is_admin %}
                    <li><a class="dropdown-item" href="#">Admin</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="#">Student</a></li>
                    {% endif %}
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </div>

    <div class="d-flex justify-content-center" style="padding-top:20px">
        <h1>Welcome to the UVA Arts and Sciences Transfer Site</h1>
    </div>

    <div class="d-flex" style="padding-top:20px;padding-left:10px">
        <h2>Transfer Guidelines</h2>
    </div>

    <div class="d-flex justify-content-center" style="padding-top:20px">
        <ol>
            <li>
                Permission to transfer credit is not granted to students whose grade point average is less than 2.0,
                who withdrew from the College within the last ten days of the prior semester,
                who are currently under suspension, or who are on an Honor Leave of Absence.
                A 2.5 cumulative GPA is required for study abroad.
            </li>
            <li>
                Credit is allowed only for those courses in which a grade of C or better has been earned.
                Some programs may require a grade of B or better.
                Approval to take courses on a pass/fail basis must also be obtained prior to taking the courses.
                Courses in which "pass" or "credit" (CR) grades are received must be certified as equivalent to a
                grade of C or higher to be accepted.
            </li>
            <li>
                Only 60 credits of transfer from other universities, foreign study, advanced placement,
                or dual enrollment may count toward the 120 credits needed for the B.A. or B.S. degree in the College.
                Subject to these restrictions, the credits completed elsewhere with a grade of C or better
                and approved as described above will be transferred toward the degree. In the College,
                the amount of transfer credit awarded and the number of full-time semesters previously
                completed determines academic level.
            </li>
        </ol>
    </div>

    <div class="d-flex" style="padding-top:40px;padding-left:10px">
        <h2>Submit a Request to Transfer Credit</h2>
    </div>

    <div class="d-flex" style="padding-top:20px;padding-left:10px;width:100%">
        <form action="post" method="post" style="width:60%">
            {% csrf_token %}
            <fieldset>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <label for="commentsInput">Please Indicate Your Transfer Request Here</label>
                <div class="form-group" style="padding-top:15px">
                    <input type="text" name = "message4"  id="classNum" placeholder="Enter Class Number">
                </div>
                <div class="form-group" style="padding-top:15px">
                    <input type="text" name = "message" id="commentsInput" placeholder="Enter Class Name">
                </div>
                <div class="form-group" style="padding-top:15px">
                    <input type="text" name = "message7" id="siteUrl" placeholder="Enter Class Site">
                </div>
                <div class="form-group" style="padding-top:15px">
                    <input type="text" name = "message5"  id="classCredits" placeholder="Enter Class Credits">
                </div>
                <div class="form-group" style="padding-top:15px">
                    <input type="text" name = "message3" id="equal" placeholder="Enter Uva Equivalency">
                </div>
                <div class="form-group" style="padding-top:15px">
                    <input type="text" name = "message6"  id="UVACredits" placeholder="Enter UVA Credits">
                </div>
                <div class="form-group" style="padding-top:15px">
                    <input type="text" name = "message2" id="other" placeholder="Enter School">
                </div>
                <div class="form-group"style="padding-top:15px;padding-left:10px;padding-right:10px">
                    <button type="submit" class="btn btn-ora" style="width:100%">
                        Submit
                    </button>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="d-flex" style="padding-left:10px">
        <small id="commentsHelp">Notice: Decisions will be processed in no more than 24 business hours</small>
    </div>

    <div class="d-flex" style="padding-left:10px;padding-top:30px">
    <p><a class="btn btn-ora" href="/home/pendingAS" role="button" style="width:100%">
        View your pending requests
    </a></p>
    </div>

    <div class="d-flex" style="padding-top:40px;padding-left:10px">
        <h2>Search for Classes by Subject</h2>
    </div>

    <div class="d-flex" style="padding-top:20px;padding-left:10px">
        <form action="search" method="post">
            {% csrf_token %}
            <fieldset>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <label for="search">This search will return all sections of all classes for a given subject</label>
                <select id="search" name="search">
                    <option value="AAS">African-American and African Studies</option>
                    <option value="AMST">American Studies</option>
                    <option value="ANTH">Anthropology</option>
                    <option value="ARAB">Arabic</option>
                    <option value="ARAD">Arts Administration</option>
                    <option value="ARAH">History of Art and Architecture</option>
                    <option value="ARCY">Archaeology</option>
                    <option value="ARTH">History of Art</option>
                    <option value="ARTR">Arabic in Translation</option>
                    <option value="ARTS">Studio Art</option>
                    <option value="ASL">American Sign Language</option>
                    <option value="ASTR">Astronomy</option>
                    <option value="BIOL">Biology</option>
                    <option value="CASS">College Art Scholars Seminar</option>
                    <option value="CHEM">Chemistry</option>
                    <option value="CHIN">Chinese</option>
                    <option value="CHTR">Chinese in Translation</option>
                    <option value="CLAS">Classics</option>
                    <option value="COGS">Cognitive Science</option>
                    <option value="COLA">College Advising Seminar</option>
                    <option value="CREO">Creole</option>
                    <option value="DANC">Dance</option>
                    <option value="DEM">Democracy Initiative</option>
                    <option value="DH">Digital Humanities</option>
                    <option value="DRAM">Drama</option>
                    <option value="EALC">East Asian Languages, Literatures, and Cultures</option>
                    <option value="EAST">East Asian Studies</option>
                    <option value="ECON">Economics</option>
                    <option value="EGMT">Engagement</option>
                    <option value="ELA">Engaging the Liberal Arts</option>
                    <option value="ENCW">English-Creative Writing</option>
                    <option value="ENGL">English Literature</option>
                    <option value="ENWR">English-Academic, Professional, & Creative Writing</option>
                    <option value="ETP">Environmental Thought and Practice</option>
                    <option value="EURS">European Studies</option>
                    <option value="EVAT">Environmental Sciences-Atmospheric Sciences</option>
                    <option value="EVEC">Environmental Sciences-Ecology</option>
                    <option value="EVGE">Environmental Sciences-Geosciences</option>
                    <option value="EVHY">Environmental Sciences-Hydrology</option>
                    <option value="EVSC">Environmental Sciences</option>
                    <option value="FREN">French</option>
                    <option value="GCCS">Global Commerce in Culture and Society</option>
                    <option value="GDS">Global Development Studies</option>
                    <option value="GERM">German</option>
                    <option value="GETR">German in Translation</option>
                    <option value="GHSS">Graduate Humanities and Social Sciences</option>
                    <option value="GREE">Greek</option>
                    <option value="GSGS">Global Studies-Global Studies</option>
                    <option value="GSMS">Global Studies-Middle East and South Asia</option>
                    <option value="GSSJ">Global Studies-Security and Justice</option>
                    <option value="GSVS">Global Studies-Environments and Sustainability</option>
                    <option value="HBIO">Human Biology</option>
                    <option value="HEBR">Hebrew</option>
                    <option value="HIAF">History-African History</option>
                    <option value="HIEA">History-East Asian History</option>
                    <option value="HIEU">History-European History</option>
                    <option value="HILA">History-Latin American History</option>
                    <option value="HIME">History-Middle Eastern History</option>
                    <option value="HIND">Hindi</option>
                    <option value="HISA">History-South Asian History</option>
                    <option value="HIST">History-General History</option>
                    <option value="HIUS">History-United States History</option>
                    <option value="HSCI">College Science Scholars Seminar</option>
                    <option value="IMP">Interdisciplinary Thesis</option>
                    <option value="INST">Interdisciplinary Studies</option>
                    <option value="ITAL">Italian</option>
                    <option value="ITTR">Italian in Translation</option>
                    <option value="JAPN">Japanese</option>
                    <option value="JPTR">Japanese in Translation</option>
                    <option value="JWST">Jewish Studies</option>
                    <option value="KICH">Maya K'iche</option>
                    <option value="KOR">Korean</option>
                    <option value="LASE">Liberal Arts Seminar</option>
                    <option value="LAST">Latin American Studies</option>
                    <option value="LATI">Latin</option>
                    <option value="LING">Linguistics</option>
                    <option value="LNGS">General Linguistics</option>
                    <option value="MATH">Mathematics</option>
                    <option value="MDST">Media Studies</option>
                    <option value="MESA">Middle Eastern & South Asian Languages & Cultures</option>
                    <option value="MEST">Middle Eastern Studies</option>
                    <option value="MSP">Medieval Studies</option>
                    <option value="MUBD">Music-Marching Band</option>
                    <option value="MUEN">Music-Ensembles</option>
                    <option value="MUPF">Music-Private Performance Instruction</option>
                    <option value="MUSI">Music</option>
                    <option value="NESC">Neuroscience</option>
                    <option value="PERS">Persian</option>
                    <option value="PETR">Persian in Translation</option>
                    <option value="PHAR">Pharmacology</option>
                    <option value="PHIL">Philosophy</option>
                    <option value="PHS">Public Health Sciences</option>
                    <option value="PHYS">Physics</option>
                    <option value="PLAD">Politics-Departmental Seminar</option>
                    <option value="PLAP">Politics-American Politics</option>
                    <option value="PLCP">Politics-Comparative Politics</option>
                    <option value="PLIR">Politics-International Relations</option>
                    <option value="PLPT">Politics-Political Theory</option>
                    <option value="PMCC">Premodern Cultures and Communities</option>
                    <option value="POL">Polish</option>
                    <option value="PORT">Portuguese</option>
                    <option value="PPL">Political Philosophy, Policy, and Law</option>
                    <option value="PST">Political and Social Thought</option>
                    <option value="PSYC">Psychology</option>
                    <option value="RELA">Religion-African Religions</option>
                    <option value="RELB">Religion-Buddhism</option>
                    <option value="RELC">Religion-Christianity</option>
                    <option value="RELG">Religion-General Religion</option>
                    <option value="RELH">Religion-Hinduism</option>
                    <option value="RELI">Religion-Islam</option>
                    <option value="RELJ">Religion-Judaism</option>
                    <option value="RELS">Religion-Special Topic</option>
                    <option value="RSC">Regional Studies Consortium</option>
                    <option value="RUSS">Russian</option>
                    <option value="RUTR">Russian in Translation</option>
                    <option value="SANS">Sanskrit</option>
                    <option value="SAST">South Asian Studies</option>
                    <option value="SATR">South Asian Literature in Translation</option>
                    <option value="SLAV">Slavic</option>
                    <option value="SLFK">Slavic Folklore & Oral Literature</option>
                    <option value="SOC">Sociology</option>
                    <option value="SPAN">Spanish</option>
                    <option value="STAT">Statistics</option>
                    <option value="SWAH">Swahili</option>
                    <option value="TURK">Turkish</option>
                    <option value="URDU">Urdu</option>
                    <option value="WGS">Women, Gender, and Sexuality</option>
                </select>
                <button type="submit" class="btn btn-ora" style="padding-left:10px">
                    Submit
                </button>
            </fieldset>
        </form>
    </div>

    <div class="d-flex" style="padding-top:30px;padding-left:10px;width:100%">
        <h2>Search for Approved Classes From Other Schools</h2>
    </div>

    <div class="d-flex" style="padding-top:20px;padding-left:10px;padding-bottom:10px">
        <form action="transfer_AS" method="post">
            {% csrf_token %}
            <fieldset>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <label for="transfer_AS">This search will return all transfer equivalencies for a given university</label>
                <select id="transfer_AS" name="transfer_AS">
                    <option value=1>Univ North Texas</option>
                    <option value=2>Univ Rhode Island</option>
                    <option value=3>Florida State University</option>
                    {% for newSchool in object_list %}
                        <option value={{newSchool.index}}>{{ newSchool.school_name }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-ora" style="padding-left:10px">
                    Submit
                </button>
            </fieldset>
        </form>
    </div>

    <div class="d-flex" style="padding-top:20px;padding-left:10px">
        <form action="freeSearchAS" method="post" style="width:100%">
            {% csrf_token %}
            <fieldset>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <label for="searchNumAS">Search for any class number or name</label>
                <input type="text" name = "searchNumAS"  id="searchNumAS" placeholder="Enter Keyword" style="width:40%">
                <button type="submit" class="btn btn-ora">
                    Submit
                </button>
            </fieldset>
        </form>
    </div>

    <div class="d-flex" style="padding-left:10px;padding-top:10px">
    <p><a class="btn btn-ora" href="/home/" role="button" style="width:100%">
        Back to home
    </a></p>
    </div>

    <div class="d-xxl-flex">
        <nav class="navbar" style="background-color: #232D4B">
          <span class="navbar-text" style="padding-left:5px">UVA CS 3240</span>
          <span class="navbar-text ml-auto" style="padding-right:5px">Created by Anas Tariq, James O'Connell, Spencer Jackson, Alexander Davis, Zachary Mills </span>
        </nav>
    </div>


    {% else %}
    <a href="{% provider_login_url 'google' %}">Login With Google</a>

    {% endif %}
</div>

</body>
</html>