{% load socialaccount %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<style>

body {
        background-color: #F8F9FA;
        font-family: 'Montserrat', sans-serif;
    }

    .navbar {
        background-color: #232D4B;
        border-radius: 0px;
        width:100%;
    }

    .navbar-brand {
        color: white;
        font-weight: bold;
    }

    .navbar-text {
        color: white;
        font-size: 14px;
    }

    .dropdown-menu {
        border-radius: 0px;
    }

    .dropdown-item {
        font-size: 14px;
    }

.btn-ora {
  background-color: #F84C1E;
  border-color: #F84C1E;
  color: white;
}

h1, h2 {
  color: #232D4B;
}

.navbar-text {
  color: white;
}

input[type="text"] {
    width: 100%;
}

body {
  background-image: url('https://img.freepik.com/free-photo/white-simple-textured-design-background_53876-102423.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

</style>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UVA CLAS Transfer Site</title>
</head>


<div class="d-flex flex-column mx-auto">
    {% if user.is_authenticated %}
      <div class="d-xxl-flex">
        <nav class="navbar navbar-expand navbar-dark" style="background-color: #232D4B">
          <a class="navbar-brand" href="/home/">
            <img src="https://dynaimage.cdn.cnn.com/cnn/c_fill,g_auto,w_1200,h_675,ar_16:9/https%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F200617130257-01-uva-reworked-logo-0616.jpg" width="50" height="30" class="d-inline-block align-top" alt="">
            Transfer Tracker
          </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ user.username }}
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="/logout/">Logout</a></li>
                    <li><a class="dropdown-item" href="#">Admin</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </div>

    <div class="d-flex justify-content-center" style="padding-top:20px">
        <h1>Welcome to the UVA Arts and Sciences Transfer Site</h1>
    </div>

    <div class="d-flex" style="padding-top:20px;padding-left:10px">
        <h2>Transfer Guidelines</h2>
    </div>

    <div class="d-flex justify-content-center" style="padding-top:20px">
        <ol>
            <li>
                Permission to transfer credit is not granted to students whose grade point average is less than 2.0,
                who withdrew from the College within the last ten days of the prior semester,
                who are currently under suspension, or who are on an Honor Leave of Absence.
                A 2.5 cumulative GPA is required for study abroad.
            </li>
            <li>
                Credit is allowed only for those courses in which a grade of C or better has been earned.
                Some programs may require a grade of B or better.
                Approval to take courses on a pass/fail basis must also be obtained prior to taking the courses.
                Courses in which "pass" or "credit" (CR) grades are received must be certified as equivalent to a
                grade of C or higher to be accepted.
            </li>
            <li>
                Only 60 credits of transfer from other universities, foreign study, advanced placement,
                or dual enrollment may count toward the 120 credits needed for the B.A. or B.S. degree in the College.
                Subject to these restrictions, the credits completed elsewhere with a grade of C or better
                and approved as described above will be transferred toward the degree. In the College,
                the amount of transfer credit awarded and the number of full-time semesters previously
                completed determines academic level.
            </li>
        </ol>
    </div>

    <div class="d-flex flex-column" style="padding-top:20px;padding-left:10px">
        {% if object_list %}
        <div class="d-flex" style="padding-top:20px">
            <h2>Approve or Deny Requests</h2>
        </div>
        {% else %}
        <div class="d-flex" style="padding-top:20px">
            <h2>There Are No Pending Requests</h2>
        </div>
        {% endif %}

        {% for message_AS in object_list %}
        <div class="d-flex" style="padding-top:20px">
            <p style="padding-right:15px">{{ message_AS }}</p>
            <form action="approveTransfer_AS?id={{message_AS.id}}" method="post">
                {% csrf_token %}
                <button class="btn btn-ora">Approve request</button>
            </form>
            <form action="denyTransfer_AS?id={{message_AS.id}}" method="post" style="padding-left:10px">
                {% csrf_token %}
                <button class="btn btn-ora">Deny request</button>
            </form>
        </div>
        {% endfor %}
    </div>

    <div class="d-flex" style="padding-top:40px;padding-left:10px">
        <h2>Submit a Request to Transfer Credit</h2>
    </div>

    <div class="d-flex" style="padding-top:20px;padding-left:10px;width:100%">
        <form action="post" method="post" style="width:60%">
            {% csrf_token %}
            <fieldset>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <label for="commentsInput">Please Indicate Your Transfer Request Here</label>
                <div class="form-group" style="padding-top:15px">
                    <input type="text" name = "message4"  id="classNum" placeholder="Enter Class Number">
                </div>
                <div class="form-group" style="padding-top:15px">
                    <input type="text" name = "message" id="commentsInput" placeholder="Enter Class Name">
                </div>
                <div class="form-group" style="padding-top:15px">
                    <input type="text" name = "message7" id="siteUrl" placeholder="Enter Class Site">
                </div>
                <div class="form-group" style="padding-top:15px">
                    <input type="text" name = "message5"  id="classCredits" placeholder="Enter Class Credits">
                </div>
                <div class="form-group" style="padding-top:15px">
                    <input type="text" name = "message3" id="equal" placeholder="Enter Uva Equivalency">
                </div>
                <div class="form-group" style="padding-top:15px">
                    <input type="text" name = "message6"  id="UVACredits" placeholder="Enter UVA Credits">
                </div>
                <div class="form-group" style="padding-top:15px">
                    <input type="text" name = "message2" id="other" placeholder="Enter School">
                </div>
                <div class="form-group"style="padding-top:15px;padding-left:10px;padding-right:10px">
                    <button type="submit" class="btn btn-ora" style="width:100%">
                        Submit
                    </button>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="d-flex" style="padding-left:10px;padding-bottom:30px">
        <small id="commentsHelp">Notice: Decisions will be processed in no more than 24 business hours</small>
    </div>

    <div class="d-flex" style="padding-left:10px;padding-top:10px">
    <p><a class="btn btn-ora" href="/home/pendingAS" role="button" style="width:100%">
        View your pending requests
    </a></p>
    </div>


        <div class="d-flex" style="padding-top:40px;padding-left:10px">
        <h2>Search for Classes by Subject</h2>
    </div>

    <div class="d-flex" style="padding-top:20px;padding-left:10px">
        <form action="search" method="post">
            {% csrf_token %}
            <fieldset>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <label for="search">This search will return all sections of all classes for a given subject</label>
                <select id="search" name="search">
                    <option value="AAS">African-American and African Studies</option>
                    <option value="AMST">American Studies</option>
                    <option value="ANTH">Anthropology</option>
                    <option value="ARAB">Arabic</option>
                    <option value="ARAD">Arts Administration</option>
                    <option value="ARAH">History of Art and Architecture</option>
                    <option value="ARCY">Archaeology</option>
                    <option value="ARTH">History of Art</option>
                    <option value="ARTR">Arabic in Translation</option>
                    <option value="ARTS">Studio Art</option>
                    <option value="ASL">American Sign Language</option>
                    <option value="ASTR">Astronomy</option>
                    <option value="BIOL">Biology</option>
                    <option value="CASS">College Art Scholars Seminar</option>
                    <option value="CHEM">Chemistry</option>
                    <option value="CHIN">Chinese</option>
                    <option value="CHTR">Chinese in Translation</option>
                    <option value="CLAS">Classics</option>
                    <option value="COGS">Cognitive Science</option>
                    <option value="COLA">College Advising Seminar</option>
                    <option value="CREO">Creole</option>
                    <option value="DANC">Dance</option>
                    <option value="DEM">Democracy Initiative</option>
                    <option value="DH">Digital Humanities</option>
                    <option value="DRAM">Drama</option>
                    <option value="EALC">East Asian Languages, Literatures, and Cultures</option>
                    <option value="EAST">East Asian Studies</option>
                    <option value="ECON">Economics</option>
                    <option value="EGMT">Engagement</option>
                    <option value="ELA">Engaging the Liberal Arts</option>
                    <option value="ENCW">English-Creative Writing</option>
                    <option value="ENGL">English Literature</option>
                    <option value="ENWR">English-Academic, Professional, & Creative Writing</option>
                    <option value="ETP">Environmental Thought and Practice</option>
                    <option value="EURS">European Studies</option>
                    <option value="EVAT">Environmental Sciences-Atmospheric Sciences</option>
                    <option value="EVEC">Environmental Sciences-Ecology</option>
                    <option value="EVGE">Environmental Sciences-Geosciences</option>
                    <option value="EVHY">Environmental Sciences-Hydrology</option>
                    <option value="EVSC">Environmental Sciences</option>
                    <option value="FREN">French</option>
                    <option value="GCCS">Global Commerce in Culture and Society</option>
                    <option value="GDS">Global Development Studies</option>
                </select>
                <button type="submit" class="btn btn-ora" style="padding-left:10px">
                    Submit
                </button>
            </fieldset>
        </form>
    </div>

       <div class="d-flex" style="padding-top:30px;padding-left:10px;width:100%">
        <h2>Search for Approved Classes From Other Schools</h2>
    </div>

    <div class="d-flex" style="padding-top:20px;padding-left:10px;padding-bottom:10px">
        <form action="transfer_AS" method="post">
            {% csrf_token %}
            <fieldset>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <label for="transfer_AS">This search will return all transfer equivalencies for a given university</label>
                <select id="transfer_AS" name="transfer_AS">
                    <option value=1>Univ North Texas</option>
                    <option value=2>Univ Rhode Island</option>
                    <option value=3>Florida State University</option>
                </select>
                <button type="submit" class="btn btn-ora" style="padding-left:10px">
                    Submit
                </button>
            </fieldset>
        </form>
    </div>

    <div class="d-flex" style="padding-top:20px;padding-left:10px">
        <form action="freeSearchAS" method="post" style="width:100%">
            {% csrf_token %}
            <fieldset>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <label for="searchNumAS">Search for any class number or name</label>
                <input type="text" name = "searchNumAS"  id="searchNumAS" placeholder="Enter Keyword" style="width:40%">
                <button type="submit" class="btn btn-ora">
                    Submit
                </button>
            </fieldset>
        </form>
    </div>

    <div class="d-flex" style="padding-left:10px;padding-top:10px;padding-bottom:20px">
        <a href="/home/clas/approved" class="btn btn-ora">Approved Classes From Other Universities</a>
    </div>

    <div class="d-flex" style="padding-left:10px;padding-top:10px">
    <p><a class="btn btn-ora" href="/home/" role="button" style="width:100%">
        Back to home
    </a></p>
    </div>


    <div class="d-xxl-flex">
        <nav class="navbar" style="background-color: #232D4B">
          <span class="navbar-text" style="padding-left:5px">UVA CS 3240</span>
          <span class="navbar-text ml-auto" style="padding-right:5px">Created by Anas Tariq, James O'Connell, Spencer Jackson, Alexander Davis, Zachary Mills </span>
        </nav>
    </div>

    {% else %}
    <a href="{% provider_login_url 'google' %}">Login With Google</a>

    {% endif %}

</div>
</body>
</html>

